<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Music API</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      
      div {
        width: 100vw;
        height: 100vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
      </style>
  </head>
  <body>
      <div style>
        <h1>Welcome to Open Music API</h1>
        <p>Click <a href="https://documenter.getpostman.com/view/23186688/2s9Ye8fEvT">here</a> for documentation</p>
      </div>
  </body>
</html>